body{
    text-align: center;
}
.btn{
  border: solid 2.5px #364652;
  width: 100px;
  height: 100px;
  display: inline;
  font-size: 25px;
  color: #63585E;
  background-color: #A9CBB7;
}
h1{
  font-size: 50px;
  font-family: 'Fascinate', cursive;}